
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Afrin Comestic</title>
    <link rel="stylesheet" href="css/homePage.css">
</head>
<body>
<header>

    <section class="mainSection">
        <h3 class="Heading">Afrin Cometics</h3>
        <input type="text" placeholder="Enter the item to search" name="search">

        <section class="headerButton">
            <button> <a href="">Login</a></button>
            <button> <a href="">Sign Up</a></button>
        </section></section>

    <h4>Categories</h4>

    <section class="navBar">

        <ul class="categoryList">
            <li><a href="">Body</a></li>
            <li><a href="">Hair</a></li>
            <li><a href="">Fragnance</a></li>
            <li><a href="">MakeUp</a></li>
            <li><a href="">Babies</a></li>
            <li><a href="">Health</a></li>
        </ul>
    </section>
</header>
<section class="newArrival">
    <h3>New Arrivals</h3>
    <section class="items" >

        <section class="cards" th:each="product : ${products}">
            <p class="img"></p>
            <h3 th:text="${product.name}"></h3>
            <p th:text="${product.desc}">Caption</p>
            <p>Rs:<p th:text="${product.price}">Price</p> </p>

            <section class="button">
                <button><a href="">Add to Cart</a></button>
                <button><a href="">Shop Now</a></button>
            </section>
</section>





    </section>


</section>
<main>


</main>

</body>
</html>